doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../css/main.css")
    body 
        .index_cart-container
            .index_header
                button.index_back-button
                    img(src="../image/Vector (4).png", alt="Banana")
                i.fa.fa-arrow-left
                    h1 My Cart
                button.index_search-button
                    img(src="../image/Vector (5).png", alt="Banana")
            .index_cart-items
                .index_cart-item
                    img(src="../image/banana 3.png", alt="Banana")
                    .index_item-details
                        h2 Banana
                        p Fresh fruits
                        p Rs 50/kg
                    .index_item-controls
                        button.index_add +
                        i.fa.fa-plus
                        span 2
                        button.index_subtract -
                        i.fa.fa-minus
                .index_cart-item
                    img(src="../image/banana 3.png", alt="Pineapple")
                    .index_item-details
                        h2 Pineapple
                        p Fresh fruits
                        p Rs 120/kg
                    .index_item-controls
                        button.index_add +
                        i.fa.fa-plus
                        span 1
                        button.index_subtract -
                        i.fa.fa-minus
                .index_cart-item
                    img(src="../image/banana 3.png", alt="Tomato")
                    .index_item-details
                        h2 Tomato
                        p Fresh vegetable
                        p Rs 220/kg
                    .index_item-controls
                        button.index_add +
                        i.fa.fa-plus
                        span 1
                        button.index_subtract -
                        i.fa.fa-minus
                .index_cart-item
                    img(src="../image/banana 3.png", alt="Cabbage")
                    .index_item-details
                        h2 Cabbage
                        p Fresh vegetable
                        p Rs 100/kg
                    .index_item-controls
                        button.index_add +
                        i.fa.fa-plus
                        span 1
                        button.index_subtract -
                        i.fa.fa-minus
            .index_total-amount
                p Total Amount
                p Rs 710.00
            button.index_book-now Book Now
                img(src="../image/Group 22.png", alt="")
                .index_footer
                    nav
                        img(src="../image/Vector (6).png", alt="")
                        a.index_home Home
                    nav
                        img(src="../image/Vector (7).png", alt="")
                        a.index_favourite Favourite
                    nav
                        img(src="../image/Vector (8).png", alt="")
                        a.index_cart.index_active My Cart
                    nav
                        img(src="../image/Vector (9).png", alt="")
                        a.index_profile Profile